<!-- Page for adding book, will be form -->
{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="banner">
    <h3>What else would you like to read?</h3>
    Add a book to your list here:
</div>
<div class="contents">
    <form action="{{url_for('addBook')}}" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" required><br><br>

        <label for="author">Author:</label>
        <input type="text" name="author" required><br><br>

        <label for="description">Description:</label><br>
        <textarea maxlength="350" rows="5" cols="50" name="description" placeholder="Optional - enter a brief description of plot">
        </textarea><br><br>

        <label for="genre">Genre:</label>
        <div class="radio">
            <input type="radio" name="genre" value="Children-Young Adult" required>
            Children/Young Adult
            </input><br>

            <input type="radio" name="genre" value="Graphic Novel" required>
            Graphic Novel
            </input><br>

            <input type="radio" name="genre" value="Classic" required>
            Classic
            </input><br>

            <input type="radio" name="genre" value="Fantasy" required>
            Fantasy
            </input><br>

            <input type="radio" name="genre" value="Horror" required>
            Horror
            </input><br>

            <input type="radio" name="genre" value="SciFi" required>
            SciFi
            </input><br>

            <input type="radio" name="genre" value="Suspense-Thriller" required>
            Suspense/Thriller
            </input><br>

            <input type="radio" name="genre" value="Western" required>
            Western
            </input><br>

            <input type="radio" name="genre" value="Romance" required>
            Romance
            </input><br>

            <input type="radio" name="genre" value="Mystery-Crime" required>
            Mystery/Crime
            </input><br>

            <input type="radio" name="genre" value="Poetry" required>
            Poetry
            </input><br>

            <input type="radio" name="genre" value="Anthology" required>
            Anthology
            </input><br>

            <input type="radio" name="genre" value="General Fiction" required>
            General Fiction
            </input><br>

            <input type="radio" name="genre" value="Non-Fiction" required>
            Non-Fiction
            </input><br>

            <input type="radio" name="genre" value="Other" required>
            Other
            </input><br>
        </div>
        <br><br>
        <button type="submit" id="submit">Add</button>
    </form>
    <h4><a href="{{url_for('viewReadingList')}}">Cancel</a></h4>
</div>
{% endblock %}